body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url("images/background.jpg");
  background-size: cover;
  text-align: center;
  color: white;
  font-weight: bold;
  height: 98.3vh;
  margin: 0;
  padding: 0;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  color: #016f32;
  width: 160px;
  padding: 10px 0px;
  background-color: goldenrod;
  border: none;
  border-radius: 2px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

#btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
