body {
  margin: 0;
  padding: 0px 250px;
  background-color: #1c1c1c;
  font-family: sans-serif;
  color: white;
}

#content-wrapper {
  border-bottom: 1px solid white;
  padding-bottom: 50px;
}

h1 {
  color: white;
  font-size: 100px;
  margin-bottom: 0px;
}

span {
  color: rgb(248, 189, 248);
}

#hook {
  color: rgb(220, 220, 220);
  font-size: 30px;
  font-weight: 400;
}

#password-btn {
  margin-top: 50px;
  border: none;
  background-color: rgb(169, 94, 169);
  width: 250px;
  height: 45px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.password-wrapper {
  width: 400px;
  height: 70px;
  border-radius: 5px;
  background-color: #273549;
}

.password-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.password {
  margin: 0;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(248, 189, 248);
  font-size: 30px;
}

.slidecontainer {
  margin-top: 50px;
}

.slider {
  -webkit-appearance: none;
  width: 250px;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(169, 94, 169);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(169, 94, 169);
  cursor: pointer;
}
