body {
  margin: 0;
  text-align: center;
  background-image: url("images/train.jpeg");
  background-size: cover;
  height: 100vh;
}

h1 {
  padding-top: 75px;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#increment-btn {
  background-color: lightcoral;
}

#increment-btn:hover {
  cursor: pointer;
  background-color: rgb(234, 116, 116);
}

#save-btn {
  background-color: rgb(171, 144, 238);
  /* text-shadow: 0 0 1px black; */
}

#save-btn:hover {
  cursor: pointer;
  background-color: rgb(141, 104, 234);
}
